# Системные файлы
.DS_Store
Thumbs.db

# Редакторы и IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Зависимости и сборки
node_modules/
dist/
build/

# Другие временные файлы
*.log
*.tmp 